@mixin headingStyles($fontSize: $tpg-h1, $fontFamily: $tpg-openSans) {

    font-weight: 700;
    font-family: $fontFamily;
    font-size: $fontSize;

}

@mixin subheadingStyles($fontSize: $tpg-h2, $fontFamily: $tpg-openSans) {

    font-weight: 400;
    font-family: $fontFamily;
    font-size: $fontSize;

}

@mixin bodyStyles($fontSize: $tpg-body, $fontFamily: $tpg-sourceSansPro) {

    font-weight: 400;
    font-family: $fontFamily;
    font-size: $fontSize;

}


@mixin anchorStyles($fontSize: $tpg-anchor, $fontFamily: $tpg-openSans) {

    font-weight: 400;
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $tpg-primary;

}

@mixin btnStyles($fontSize: $tpg-btnText, $fontFamily: $tpg-openSans) {
    
    border-radius: 100px;
    font-weight: 400;
    font-family: $fontFamily;
    transition: 0.2s ease;
    font-size: $fontSize;
    outline: none;
    padding: $tpg-btnPadding;
    border: 1px solid $tpg-primary;

}

@mixin cardStyles() {

}