// Typography
$tpg-montserrat: 'Montserrat', sans-serif;
$tpg-lato: 'Lato', sans-serif;

// Darker Colors
$dkr-primary: #202020;
$dkr-secondary: #494949;
$dkr-tertiary: #727272;

// Lighter Colors
$ltr-primary: #E9E9E9;
$ltr-secondary: #C1C1C1;
$ltr-tertiary: #959595;

// Miscellaneous Colors
$msc-accent: #E9204F;