.header {

    grid-template-columns: 12vw 1fr 1fr 12vw;
    grid-column: 1/4;
    grid-row: 1;
    position: sticky;
    display: grid;
    height: 64px;
    top: 0;

    &-heading {

        justify-content: flex-start;
        align-items: center;
        grid-column: 2;
        grid-row: 1;
        display: flex;

    }

    &-nav {

        justify-content: flex-end;
        align-items: center;
        grid-column: 3;
        grid-row: 1;
        display: flex;
        gap: 16px;

    }

}