.hero {

    grid-template-columns: 12vw 1fr 12vw;
    grid-column: 1/4;
    grid-row: 1;
    display: grid;

    &-info {

        grid-column: 2/3;
        grid-row: 1;
        align-self: center;

        &-cta {

            margin-top: 16px;
            display: flex;
            gap: 8px;

        }

    }

    &-footer {

        place-items: center;
        grid-column: 2/3;
        align-self: flex-end;
        grid-row: 1;
        display: grid;
        height: 40px;
        width: 100%;

    }

}