.exhibit {

    &-heading {

        font-family: $tpg-montserrat;
        font-size: 3vw;
        color: $dkr-primary;

    }

    & > section {
        
        // .exhibit-*-heading
        & > h3 {

            font-family: $tpg-montserrat;
            font-weight: 700;
            font-size: 1vw;
            color: $dkr-primary;

        }

        // .exhibit-*-img
        & > div > div {

            background-color: white;
            transition: 0.2s ease;
            display: grid;
            padding: 8px 8px 8px 8px;
            height: auto;
            border: 1px solid rgba($dkr-primary, 0.2);
            width: auto;
            gap: 4px;

            & > img {

                object-fit: cover;
                height: 300px;
                width: 100%;

    
            }

            & > video {

                height: 300px;
                width: 100%;

            }

            & > p {

                font-family: $tpg-lato;
                font-weight: 400;
                transition: 0.2s ease;
                font-size: 0.8vw;
                color: $dkr-secondary;

            }

            &:hover {

                background-color: $dkr-primary;
                cursor: pointer;

                & > p {

                    color: $ltr-primary;

                }

            }

        }

    }

}