.header {

    background-color: #FFF;

    &-heading {

        letter-spacing: 1px;
        font-weight: 400;
        font-family: $tpg-montserrat;
        font-size: 20px;
        color: $dkr-primary;

    }

    &-nav {
        
        & > a {

            font-family: $tpg-lato;
            transition: 0.2s ease;
            font-size: 16px;
            color: $dkr-tertiary;

            &:hover {

                color: $dkr-primary;

            }

        }

    }

}