.hero {

    background-image: url(/public/assets/exhibit/325045400_701331448303113_2225506654850481434_n.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba($dkr-primary, 0.8);

    &-info {

        &-heading {

            text-transform: uppercase;
            font-family: $tpg-montserrat;
            font-weight: 700;
            font-size: 3.5vw;
            color: $ltr-primary;

        }

        &-subheading {

            font-family: $tpg-montserrat;
            font-weight: 400;
            font-size: 1vw;
            color: $ltr-primary;

        }

        &-cta {

            & > button {

                border-radius: 100px;
                font-family: $tpg-lato;
                font-weight: 400;
                transition: 0.2s ease;
                font-size: 0.8vw;
                padding: 12px 24px;

            }

            &-explore {

                background-color: $msc-accent;
                border: 0;
                color: $ltr-primary;

                &:hover {

                    background-color: #a61033;
                    cursor: pointer;

                }

            }

            &-contributors {

                border: 1px solid $ltr-primary;
                color:  $ltr-primary;

                &:hover {

                    background-color: $ltr-primary;
                    cursor: pointer;
                    color: $dkr-primary;

                }

            }

        }

    }

    &-footer {

        & > a {

            transition: 0.2s ease;
            font-size: 16px;
            color: $ltr-primary;

            &:hover {

                cursor: pointer;
                color: $msc-accent;

            }

        }

    }

}